{
    local_certs
}


admin.localhost {
    @options {
        method OPTIONS
    }
    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Credentials true
        Access-Control-Allow-Methods *
        Access-Control-Allow-Headers *
        defer
    }
    reverse_proxy strapi:1337 {
        header_down -Access-Control-Allow-Origin
    }
    respond @options 204
}



localhost {
    @options {
        method OPTIONS
    }
    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Credentials true
        Access-Control-Allow-Methods *
        Access-Control-Allow-Headers *
        defer
    }
    reverse_proxy node:3000 {
        header_down -Access-Control-Allow-Origin
    }
    respond @options 204
}
